# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
*.pyc

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
cov.xml
report.xml
.coverage.*
**/cassettes

# Build and docs folder/files
build/*
dist/*
sdist/*
cover/*
MANIFEST
.mypy_cache/*

# Unused code
backup/*

# macOS Desktop Services Store
.DS_Store

# History and cache
.history

# Logs and cache
log
cache

.vscode/
*.db

# config
config.yaml
.env
